.certification__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.certification__container>div {
    background: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.certification__container>div:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.certification__container>div h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
}

.certification__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.certification__details {
    display: flex;
    gap: 1rem;
}

.certification__details-icons {
    margin-top: 6px;
    color: var(--color-primary);
}

/* Media Queries Medium Devices*/
@media screen and (max-width: 1024px) {
    .certification__container {
        grid-template-columns: 1fr;
    }

    .certification__container>div {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }

    .certification__content {
        padding: 1rem;
    }
}

/* Media Queries Small Devices*/
@media screen and (max-width: 600px) {
    .certification__container {
        gap: 1rem;
    }

    .certification__container>div {
        width: 100%;
        padding: 2rem 1rem;
    }
}